.hero {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgb(75,7,197);
  background: linear-gradient(90deg, rgba(75,7,197,1) 36%, rgba(206,2,189,1) 78%, rgba(75,7,197,1) 100%);
}

.herotitle {
  color: white;
  width: 40%;
  height: 100%;
  padding: 200px;
  z-index: 1;
  overflow: hidden;
}

.title-1 {
  font-size: 100px;
  /* margin-top: -20px; */
}

.title-2 {
  font-size: 60px;
  /* margin-top: -26px; */
}

.desc {
  font-size: 22px;
  font-weight: 40px;
  padding-right: 182px;
  margin-top: 30px;
}

.send-btn {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  padding: 10px;
  background: linear-gradient(to bottom, #23ffdb, #1b5dbf);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  color: white;
  margin-top: 50px;
  transition: 0.2s;
}

.send-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-container img {
    width: 700px;
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 2;
    filter: hue-rotate(0deg);
}